* {
  padding: 0;
  margin: 0;
  outline: none; }

body {
  font-family: 'Roboto', Arial, Tahoma, Verdana, sans-serif; }

.section_name {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1; }

.sectant {
  padding: 50px 0; }

@media screen and (max-width: 650px) {
  .sectant {
    padding: 30px 0; } }

.none {
  display: none; }

.scroll {
  height: 2000px;
  color: white; }

.music_app {
  background-color: #FFC107; }
  .music_app .app {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: row; }
    .music_app .app .swift {
      width: 50%;
      background-image: url(../images/swift.jpg);
      background-position: 40%;
      background-size: cover;
      height: 300px; }
    .music_app .app .right_menu {
      position: relative;
      width: 50%;
      background-color: #AD1457;
      color: white; }
      .music_app .app .right_menu .name {
        font-size: 25px;
        margin: 100px 20px 0 20px; }
      .music_app .app .right_menu .subname {
        font-size: 14px;
        color: #cecece;
        margin: 10px 20px; }
      .music_app .app .right_menu .player {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #E91E63; }
        .music_app .app .right_menu .player .progress_bar {
          position: absolute;
          top: -3px;
          width: 0s;
          height: 3px;
          background-color: #FFC107; }
        .music_app .app .right_menu .player .player_btns {
          text-align: center; }
          .music_app .app .right_menu .player .player_btns .fa {
            padding: 0 20px;
            line-height: 50px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s; }
            .music_app .app .right_menu .player .player_btns .fa:hover {
              background-color: rgba(0, 0, 0, 0.3);
              -webkit-transition: all 0.3s;
              -ms-transition: all 0.3s;
              -moz-transition: all 0.3s;
              transition: all 0.3s; }

@media screen and (max-width: 650px) {
  .music_app .app {
    width: 300px;
    flex-direction: column; }
    .music_app .app .swift {
      width: 100%; }
    .music_app .app .right_menu {
      width: 100%;
      height: 200px; }
      .music_app .app .right_menu .name {
        margin: 20px 20px 0 20px; } }

.weather_widget {
  background-color: #1A237E; }
  .weather_widget .section_name {
    color: white; }
  .weather_widget .widget {
    width: 300px;
    height: 270px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto; }
    .weather_widget .widget .main {
      position: relative;
      height: 210px;
      background-color: #1976D2;
      overflow: hidden;
      color: white; }
      .weather_widget .widget .main .city {
        margin: 15px 15px 5px 15px; }
      .weather_widget .widget .main .temperature {
        font-size: 50px;
        font-weight: 300;
        margin-left: 15px; }
      .weather_widget .widget .main .fa {
        position: absolute;
        padding: 15px;
        top: 0;
        right: 0;
        font-size: 18px;
        opacity: 0.7;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
        .weather_widget .widget .main .fa:hover {
          opacity: 1;
          -webkit-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s; }
      .weather_widget .widget .main .status {
        position: absolute;
        width: 85%;
        bottom: -50%;
        right: -16%; }
      .weather_widget .widget .main .locations {
        position: absolute;
        top: 5px;
        right: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        overflow: hidden;
        background-color: white;
        color: black;
        font-size: 14px;
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
        .weather_widget .widget .main .locations p {
          line-height: 32.5px;
          padding: 0 12.5px;
          cursor: pointer; }
      .weather_widget .widget .main .locations_hidden {
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
    .weather_widget .widget .timeline {
      position: relative;
      height: 60px;
      overflow: hidden;
      background-color: white;
      -webkit-box-shadow: 0px -1px 5px 3px rgba(170, 170, 170, 0.1);
      -ms-box-shadow: 0px -1px 5px 3px rgba(170, 170, 170, 0.1);
      -moz-box-shadow: 0px -1px 5px 3px rgba(170, 170, 170, 0.1);
      box-shadow: 0px -1px 5px 3px rgba(170, 170, 170, 0.1); }
      .weather_widget .widget .timeline .fa {
        position: absolute;
        left: 50%;
        font-size: 20px;
        transform: translateX(-50%);
        color: #1976D2; }
      .weather_widget .widget .timeline .hours {
        position: absolute;
        width: 200%; }
        .weather_widget .widget .timeline .hours span {
          line-height: 60px;
          margin: 0 15px; }

.calendar_widget {
  background-color: rgba(255, 152, 0, 0.5); }
  .calendar_widget .widget {
    width: 300px;
    margin: auto;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    color: white; }
    .calendar_widget .widget .topbar {
      position: relative;
      padding: 10px 0;
      background-color: #1A237E; }
      .calendar_widget .widget .topbar p {
        margin: 0 20px 10px 20px;
        line-height: 40px;
        text-transform: uppercase;
        font-size: 16px; }
      .calendar_widget .widget .topbar .days_of_week {
        display: flex;
        width: 95%;
        margin: auto; }
        .calendar_widget .widget .topbar .days_of_week span {
          width: 20%;
          text-align: center;
          opacity: 0.7; }
    .calendar_widget .widget .body {
      background-color: #3F51B5;
      padding: 3px; }
      .calendar_widget .widget .body table {
        width: 95%;
        margin: auto; }
        .calendar_widget .widget .body table tr td {
          height: 32px;
          text-align: center;
          cursor: pointer;
          -webkit-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s; }
        .calendar_widget .widget .body table tr .active_date {
          background-color: #E91E63;
          -webkit-border-radius: 50%;
          -ms-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s; }
