.bottom_navigation {
    background-color: #263238;
    
    .section_name {
        color: white;
    }
    
    .app {
        width: 310px;
        margin: auto;
        background-color: #ccc;
        padding-top: 5px;
        position: relative;
        
        .content {
            .card {
                background-color: white;
                width: 300px;
                margin: auto;
                @include borrad(5px);
                overflow: hidden;  
                margin-bottom: 5px;

                div {
                    background: {
                        image: url(../images/ny.jpg);
                        size: cover;
                        position: 50% 50%;
                    }
                    width: 100%;
                    height: 150px;
                }

                h1 {
                    margin-top: 15px;
                    font-weight: 300;
                    padding: 0 15px;
                }

                .section {
                    margin-bottom: 10px;
                    opacity: 0.7;
                    padding: 0 15px;
                }

                .article {
                    font-size: 14px;
                    margin-bottom: 5px;
                    padding: 0 15px;
                }

                button {
                    width: 100%;
                    text-align: center;
                    background: transparent;
                    border: none;
                    color: #4285f4;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 15px;
                    cursor: pointer;
                    text-transform: uppercase;
                }
            }
        }
        
        nav {
            position: relative;
            bottom: 0;
            height: 50px;
            width: 100%;
            background-color: #009688;
            color: white;
            display: flex;
            
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 35%;
                height: 50px;
                text-align: center;
                opacity: 0.6;
                @include transition(0.3s);
                cursor: pointer;
                
                i {
                    font-size: 22px;
                    line-height: 1;
                }
                
                p {
                    font-size: 12px;
                    line-height: 1.2;
                    font-weight: 300;
                }
            }
            
            .active_navigator {
                opacity: 1;
                @include transition(0.3s);
            }
        }
    }
}