<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
	<title>Project 243</title>
	<meta name="description" content="Project 243 University of Southampton">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="./img/favicon.png">

    <link href="./css/main.css" rel="stylesheet">

</head>
<body>

    <ol>
        <li>PopUp Message</li>
        <li>PopUp Prompt</li>
        <li>Bottom Menu Grid</li>
        <li>Bottom Menu List</li>
        <li>SideBar List</li>
        <li>Buttons</li>
        <li>Switches</li>
        <li>Switches</li>
    </ol>

    <!-- SCRIPTS -->

    <script type="text/javascript" src="./libs/jquery.min.js"></script>

    <script type="text/javascript" src="./scripts/script.js"></script>

</body>
</html>
